.flexbox {
    padding-top: 20px;
    justify-content: space-evenly;
}

/* Telefone e email
-----------------------------------*/
#tel-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#tel-email .item-contato {
    /* display: flex;
    align-items: center; */
    padding: 20px;
}
.item-contato i {
    padding-right: 20px;
}
.item-contato a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
}
.item-contato a:hover {
    color: #4750ca;
    border-bottom: 3px solid  #4750ca;
}

/* Formulário 
-----------------------------------*/
#formulario-contato fieldset {
    text-align: center;
    padding: 20px 60px;
}
#formulario-contato input,
#formulario-contato textarea {
    width: 300px;
    padding: 5px;
}
#formulario-contato .botao {
    height: 40px;
    cursor: pointer;
}

/* Comentários 
-----------------------------------*/

.comentario {
    padding: 20px;
    border-bottom: 1px dashed black;
}